/* .nav{
    position: relative;
    width: 115%;
    padding: 10px;
}
.botom{
    position: absolute;
    left: 82%;
    top: 25%;
} */
/* .search{
    position: absolute;
    left: 68%;
    top: 25%;
} */
