/* .container{
   border-radius: 30px;
   font-size: 20px;
}
.card{
    position: relative;
    background-color: rgba(70, 27, 27, 0.8);
    border-radius: 20px;
} */
.title{
    background-color: rgba(255, 136, 0, 0.7);
    padding: 3px;
    border-radius: 10px;
    width: 200px;
    position: relative;
    left: 10%;
}
.text{
    background-color: rgba(255, 136, 0, 0.4);
    padding: 3px;
    border-radius: 10px;
    width: 150px;
    position: relative;
    left: 20%;
}